.image {
  align-items: center;
  border: 1px var(--color-neutral) solid;
  display: inline-flex;
  float: left;
  height: 120px;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
  width: 120px;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.image-drop {
  composes: image;
  text-align: center;
  line-height: 150px;
  background-color: #fff;
  border: 1px var(--color-neutral-60) dashed;
  font-size: 1rem;
  color: var(--color-primary);
  transition: all 0.3s ease;
  padding: 0 var(--spacing-s);
}
.image-dropped {
  padding: 0 0;
  border: 1px var(--color-neutral-60) solid;
}
.image-drop-wrapper {
  height: 120px;
  margin: var(--spacing-s) 0;
  float: left;
}

.icon-holder {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.camera-icon {
  font-size: 3em;
  color: var(--color-solid);
  position: absolute;
  left: var(--spacing-s);
  top: var(--spacing-s);
  display: flex;
  height: 39px;
  width: 39px;
}

.add-icon {
  font-size: 1.5em;
  font-weight: bold;
  background-color: var(--color-accent);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  color: var(--color-surface);
  padding: 5px;
  position: absolute;
  top: 30px;
  right: 3px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-drop-text {
  float: left;
  line-height: 1rem;
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  margin-top: var(--spacing-s);
  color: var(--color-solid);
  height: 100%;
}

.icon {
  composes: pointer from '~@commercetools-local/core/_styles/commons.mod.css';
  font-size: 1.6rem !important;
}

.delete-icon {
  composes: icon;
  position: absolute;
  top: 2px;
  right: var(--spacing-s);
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  /* color needs to be transparent */
  background-color: color-mod(var(--color-solid) alpha(20%));
}
