:root {
  --width-dropdown: 140px;
  --width-dropdown-multi: 340px;
}

.select {
  min-width: var(--width-dropdown);
  border-radius: var(--border-radius-6);
}

.select-multi {
  min-width: var(--width-dropdown-multi);
  border-radius: var(--border-radius-6);
}
